/*! drop-in-wb.css | "Whiteboard" theme by Jeff George */
/*! Based on drop-in.css v1.0 */
/*! MIT License | github.com/webdevjeffus/drop-in-css */

/* IMPORT COMMANDS ***********************************************************/

/* normalize.css */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Walter+Turncoat|Open+Sans:400,700,400italic,700italic);


/* UTILITY STYLES ************************************************************/

html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 600px;
  max-width: 800px;
  line-height: 1.4;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.2rem; }
h6 {
  font-size: 1rem;
  font-style: italic;
}

h1, h2, h3, h4 { margin: 0 0 0.5rem; }
h5, h6 { margin: 0 0 0.2rem; }
p { margin: 0 0 1rem; }
li p { margin-bottom: 0.5rem;}

li:last-child,
p:last-child { margin-bottom: 0rem; }

header:after,
main:after,
section:after {
  content: "";
  display: table;
  clear: both;
}

a,
header nav input[type="submit"] {
  font-weight: bold;
  text-decoration: none;
}

/* Borders */

header nav li,
footer nav li     { border-left: 0.125rem solid; }

main section      { border-bottom: 2px solid; }
main table        { border: 2px solid; }
main th, main td  { border: 1px solid; }
main input, main textarea, main button { border: 1px solid; }


/* DESIGN STYLES *************************************************************/

/* Fonts */

html { font-family: 'Open Sans', sans-serif; }

h1, h2 {
  font-family: 'Permanent Marker', 'Comic Sans MS', sans-serif;
  letter-spacing: 0.1rem;
}

h3, h4, h5, h6,
header p { font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif; }


/* Colors */

html {
  background-color: rgb(204,204,204); /* Lo Wht */
}

body,
header nav input[type="submit"] {
  background-color: rgb( 18, 18, 18); /* Md Blk */
  color: rgb( 81, 94,255); /* Hi Blu */
}

main {
  background-color: rgb(247,247,247); /* Md Wht */
  color: rgb( 64, 64, 64);  /* Hi Blk */
}

footer { color: #888; }

a:link,
a:visited,
header nav input[type="submit"] { color: rgb( 18,115, 70); } /* Md Grn */

a:hover,
a:active,
header nav input[type="submit"]:hover,
header nav input[type="submit"]:active { color: rgb( 32,204,124); } /* Hi Grn */

header nav li,
footer nav li { border-color: rgb( 64, 64, 64); } /* Lo Wht */

header h1 a:link,
header h1 a:visited { color: rgb(173, 43, 48); } /* Md Red */

header h1 a:hover,
header h1 a:active { color: rgb(255, 63, 71); } /* Hi Red */

main table,
main th,
main td { border-color: rgb( 64, 64, 64); }   /* Hi Blk | this should match main font color */

main tr:nth-of-type(odd)  { background-color: rgb(255,255,255); }  /* Hi Wht */
main tr:nth-of-type(even) { background-color: rgb(204,204,204); }  /* Lo Wht */

main section { border-color: rgb( 64, 64, 64); }   /* Hi Blk */
  /* this should match html background-color */

main aside { background-color: rgb(204,204,204); }  /* Lo Wht */
  /* this should be slightly darker than main background-color, eg: 25% gray */

main input,
main textarea,
main button {
  color: rgb( 64, 64, 64);   /* Hi Blk | matches main text color */
  border-color: rgb( 64, 64, 64);   /* Hi Blk | matches main text color */
}

main input[type="submit"],
main button {
  background-color: rgb(204,204,204);  /* Lo Wht | matches aside bg-color */
  color: rgb( 64, 64, 64);   /* Hi Blk | matches main text color */
}


/* HEADER STYLES *************************************************************/

header { padding: 1rem; }

header>h1,
header div { float: left; }

header h1 {
  line-height: 1;
  font-size: 3rem;
}

header p {
  font-size: 1.25rem;
  margin-bottom: 0;
}

header nav { float: right; }

header nav ul { list-style: none; }

header nav li {
  display: inline-block;
  padding: 0 0.875rem 0 1rem;
}

header nav li:last-of-type { padding-right: 0;}

header nav li:first-of-type { border-left: none; }

header nav input[type="submit"] {
  overflow: visible;
  text-align: center;
  width: auto;
  border: none;
}


/* MAIN STYLES ***************************************************************/

main {
  padding: 1rem;
}

main section {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

main section:nth-of-type(1) {
  margin-top: 0;
}

main section:last-child {
  padding-bottom: 0;
  border: none;
}

main article {
  width: 65%;
  float: left;
}

main aside {
  width: 30%;
  float: right;
  padding: 1rem;
  font-size: 0.8rem;
}

main header { padding: 0; }

main header h1,
main header h2,
main header h3,
main header h4 { margin-bottom: 0.25rem; }

main header p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

/* Lists */

main ul {
  margin: 0 1rem 1rem;
  list-style: none;
}

main ol { margin: 0 1rem 1rem 2rem; }

main li { margin-bottom: 0.5rem; }


/* Forms */

main label { font-weight: bold; }

main input,
main textarea {
  margin-bottom: 0.75rem;
  display: block;
  width: 100%;
}

main input[type="date"],
main input[type="datetime"],
main input[type="datetime-local"],
main input[type="email"],
main input[type="month"],
main input[type="number"],
main input[type="password"],
main input[type="search"],
main input[type="tel"],
main input[type="text"],
main input[type="time"],
main input[type="week"],
main textarea { padding: 0 0.5rem; }

main textarea { height: 4.5rem; }

main input[type="checkbox"],
main input[type="radio"] {
  display: inline;
  width: 1.5rem;
  margin-right: 1.5rem;
}

main input[type="range"] {
  display: inline;
  width: 16rem;
  margin-left: 1rem;
}

main button,
main input[type="submit"] {
  margin: 0.5rem auto;
  width: 12rem;
}

main button:last-child,
main input[type="submit"]:last-child { margin-bottom: 0; }


/* Tables */

main table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

main table:last-child {
  margin-bottom: 0;
}

main th,
main td {
  padding: 0.25rem 0;
  text-align: center;
}


/* FOOTER STYLES *************************************************************/

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

footer p { margin: 0.5rem 0; }

footer nav ul { list-style: none; }

footer nav li {
  display: inline-block;
  padding: 0 0.875rem 0 1rem;
}

footer nav li:first-of-type { border: none; }