aside p { padding: 0.45rem 0; }

code { color: rgb(  0,  0,  0); }/* Md Blk */

/* Nav styles */

header .current-cat { border-bottom: 4px solid #888; }


/* Splash Panel Styles */

.splash {
  background-color: rgb(255,255,255);
  background-image: url("../img/ph-hero.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  height: 525px;
}

.splash--head {
  font-size: 2.6rem;
  padding-top: 2.5rem;
  color: rgb(173, 43, 48); /* Md Red */
  text-shadow: -3px -3px 2px rgb(255,255,255), 3px 3px 2px rgb(255,255,255);
  margin-top: 0;
}

.splash--text {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163); /* Md Blu */
  text-shadow: -2px -2px 1px rgb(255,255,255), -2px 2px 1px rgb(255,255,255);
}

@media only screen and (min-width: 680px) {   /* Tablet */
  .splash {
    background-image: url("../img/tab-hero.png");
    height: 420px;
  }
}

@media only screen and (min-width: 960px) {   /* Laptop */
  .splash { height: 450px; }
  .splash--head {
    font-size: 3rem;
    padding-bottom: 0;
  }
  .splash p { padding-top: 0; }
}

@media only screen and (min-width: 1120px) {    /* Desktop */
  .splash { height: 525px; }
}


/* Blog styles */

.blog-listing p {
  line-height: 1.2;
  padding-top: 0;
}

li.blog-listing { padding-top: 1.2rem; }

.blog-listing p:first-of-type {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163);
}

.blog-prev-next {
  display: block;
  width: auto;
  overflow: hidden;
}

.blog-prev,
.blog-next {
  display: block;
  width: 50%;
  font-weight: normal;
}

.blog-prev { float: left; }
.blog-next {
  float: right;
  text-align: right;
}



/* Code sample formatting - apply to div wrapping sample */
.code-block {
  display: block;
  background-color: #bbb;
  font-family: Courier, monospace;
  white-space: nowrap;
  overflow: auto;
  padding: 0.6rem 1.2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.code-tab    { padding-left: 1.8rem; }
.code-tab-2x { padding-left: 3rem; }
.code-tab-3x { padding-left: 4.2rem; }

.code-comment {
  font-style: italic;
  color: #888;
}


/* Helper Styles */

.no-break { white-space: nowrap }