/* Nav styles */

header .current-cat { border-bottom: 4px solid #888; }

/* Blog styles */

.blog-listing p {
  line-height: 1.2;
  padding-top: 0;
}

li.blog-listing { padding-top: 1.2rem; }

.blog-listing p:first-of-type {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163);
}

/* Code sample formatting - apply to div wrapping sample */
.code-block {
  display: block;
  background-color: #bbb;
  font-family: Courier, monospace;
  white-space: nowrap;
  overflow: auto;
  padding: 0.6rem 1.2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.code-tab    { padding-left: 1.8rem; }
.code-tab-2x { padding-left: 3rem; }
.code-tab-3x { padding-left: 4.2rem; }

.code-comment {
  font-style: italic;
  color: #888;
}


/* Helper Styles */

.no-break { white-space: nowrap }