aside p { padding: 0.45rem 0; }

code { color: rgb(  0,  0,  0); }   /* Md Blk */

/* Nav styles */

body { position: relative;}

body.fixed-page-header>header{
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 999;
  height: 105px;
  background-color: rgb( 18, 18, 18);   /* Lo Blk */
  min-width: 320px;
  max-width: 400px;
}

body.fixed-page-header main { margin-top: 105px; }

.nav-anchor {
  display: block;
  height: 105px;
  margin-top: -105px;
  visibility: hidden;
}

@media only screen and (min-width: 680px) {   /* Tablet */

  body.fixed-page-header>header {
    width: 680px;
    max-width: 680px;
    height: 80px;
  }

  body.fixed-page-header main { margin-top: 80px; }

  .nav-anchor {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 960px) {   /* Laptop */
  body.fixed-page-header>header {
    width: 960px;
    max-width: 960px;
    height: 92px;
  }

  body.fixed-page-header main { margin-top: 92px; }

  .nav-anchor {
    display: block;
    height: 92px;
    margin-top: -92px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 1200px) {    /* Desktop */
  body.fixed-page-header>header {
    width: 1200px;
    max-width: 1200px;
    height: 105px;
  }

  body.fixed-page-header main { margin-top: 105px; }

  .nav-anchor {
    display: block;
    height: 105px;
    margin-top: -105px;
    visibility: hidden;
  }
}

header .current-cat { border-bottom: 0.25rem solid #888; }


/* Main Styles */

main header p {
  font-family: "Walter Turncoat", "Comic Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163);
}

main header p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

.box {
  background-color: rgb(204,204,204);   /* Lo Wht */
  border: 1px solid rgb( 64, 64, 64);   /* Hi Blk */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.img-border {
  border: 1px solid rgb( 64, 64, 64);   /* Hi Blk */
  padding: 0;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.img-border:first-child {
  margin-top: 0;
}

.img-link {
  box-shadow: 4px 4px 5px rgb( 64, 64, 64) ;
  position: relative;
}

.img-link:active {
  left: 3px;
  top: 3px;
  box-shadow: 1px 1px 2px rgb( 64, 64, 64) ;
}

.bulleted {
  list-style: square outside;
  padding-left: 1.2rem;
  line-height: 1.4rem;
}


/* Landing Page Styles */

.splash {
  background-color: rgb(255,255,255);
  background-image: url("../img/ph-hero.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  height: 525px;
}

.splash--head {
  font-size: 2.6rem;
  padding-top: 2.5rem;
  color: rgb(173, 43, 48); /* Md Red */
  text-shadow: -3px -3px 2px rgb(255,255,255), 3px 3px 2px rgb(255,255,255);
  margin-top: 0;
}

.splash--text {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163); /* Md Blu */
  text-shadow: -2px -2px 1px rgb(255,255,255), -2px 2px 1px rgb(255,255,255);
}

@media only screen and (min-width: 680px) {   /* Tablet */
  .splash {
    background-image: url("../img/tab-hero.png");
    height: 420px;
  }
}

@media only screen and (min-width: 960px) {   /* Laptop */
  .splash { height: 450px; }
  .splash--head {
    font-size: 3rem;
    padding-bottom: 0;
  }
  .splash p { padding-top: 0; }
}

@media only screen and (min-width: 1200px) {    /* Desktop */
  .splash { height: 525px; }
}

.more-of {
  font-family: "Walter Turncoat", "Comic Sans", sans-serif;
  font-size: 1.5rem;
}

.skill-list {
  text-align: center;
  font-weight: bold;
}



/* Blog styles */

.blog-listing p {
  line-height: 1.2;
  padding-top: 0;
}

li.blog-listing { padding-top: 1.2rem; }

.blog-listing p:first-of-type {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163);
}

.blog-prev-next {
  display: block;
  width: auto;
  overflow: hidden;
}

.blog-prev,
.blog-next {
  display: block;
  width: 50%;
  font-weight: normal;
}

.blog-prev { float: left; }
.blog-next {
  float: right;
  text-align: right;
}



/* Code sample formatting - apply to div wrapping sample */
.code-block {
  display: block;
  background-color: #bbb;
  font-family: Courier, monospace;
  white-space: nowrap;
  overflow: auto;
  padding: 0.6rem 1.2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.code-tab    { padding-left: 1.8rem; }
.code-tab-2x { padding-left: 3rem; }
.code-tab-3x { padding-left: 4.2rem; }

.code-comment {
  font-style: italic;
  color: #888;
}


/* Helper Styles */

.no-break { white-space: nowrap }