---
layout: default
section: home
---

<main class="bleed">

  <section class="splash">
    <h1 class="splash--head txt-ctr">I'm Jeff George</h1>
    <p class="splash--text txt-ctr hdrm-mar">
      <span class="no-break">I've been a teacher,&#10;</span>
      <br>
      <span class="no-break">a photographer, a writer,</span>
      <br>
      <span class="no-break">an editor, and even</span>
      <br>
      <span class="no-break">a game designer.</span>
    </p>
    <p class="splash--text txt-ctr hdrm-half">
      <span class="no-break">Now I make interesting things</span>
      <br>
      <span class="no-break">for people to do on the web.</span>
    </p>
  </section>

  <section class="row gtr">
    <header class="row txt-ctr">
      <h2>Here are some <a class="no-break" href="{{site.baseurl}}/work/" title="Go to webdevjeff's work samples">things I've made</a>&hellip;</h2>
    </header>

    <div class="row">
      {% for project in site.work %}
        {% if project.featured %}
          <article class="gtr ph-col-12 cmp-col-6">
            <a href="{{site.baseurl}}{{project.url}}" title="{{project.alt}}">
              <img class="img-border img-link" src="{{site.baseurl}}{{project.image}}" title="{{project.alt}}" alt="{{project.alt}}">
            </a>
            <h2>
              <a href="{{site.baseurl}}{{project.url}}" title="{{project.alt}}">{{project.title}}</a>
            </h2>
            <p>{{project.subtitle}}</p>
          </article>
        {% endif %}
      {% endfor %}
    </div>

    <footer class="row gtr">
      <p class="more-of txt-ctr gtr">You'll find more of my web development work <span class="no-break">in my <a href="{{site.baseurl}}/work/" title="Go to webdevjeff's work samples">web dev portfolio</a>.</span></p>
    </footer>
  </section>

  <section class="row gtr">
    <header class="row txt-ctr">
      <h2>Here are some <a href="{{site.baseurl}}/blog/" title="webdevjeff's blog">things <span class="no-break">I've been thinking</span></a>&hellip;</h2>
    </header>

    <div class="row">
      <article class="ph-col-12 tab-col-12 tab-hide-blk cmp-col-4 box">
        <h3><a href="{{site.baseurl}}{% post_url /development/2015-11-02-big-o %}" title="Big O basics">Big-O Basics</a></h3>
        <p>Nov. 2, 2015</p>
        <p>Now that every computer user has accounts with dozens of online services, and each account has many files with megabytes of data, it's hard not to be overwhelmed by the amount of data developers have to deal with. We need a way to think about it that our brains can comprehend. That way is big-O notation&hellip;</p>
      </article>

      <article class="ph-col-12 tab-col-6 cmp-col-4 box">
        <h3><a href="{{site.baseurl}}{% post_url /development/2015-10-18-ruby-classes %}" title="Ruby classes">Stay Classy!</a></h3>
        <p>Oct. 18, 2015</p>
        <p>As programming languages go, Ruby is object-oriented in a big way. Everything in Ruby is an object, and everything you do to anything is a method called on an object. Tying these objects and methods together are special object categories, called classes. Every object belongs to some class&hellip;</p>
      </article>

      <article class="ph-col-12 tab-col-6 cmp-col-4 box">
        <h3><a href="{{site.baseurl}}{% post_url /development/2015-10-11-ruby-sort %}" title="Sorting Ruby arrays and hashes">Sorting It All Out</a></h3>
        <p>Oct. 11, 2015</p>
        <p>Like all collection classes in Ruby, the Array and Hash classes include the Enumerable module. Enumerable bestows upon classes that include it a wide selection of methods which iterate over collections in many useful ways. In order to include the Enumerable module and use its methods&hellip;</p>
      </article>
    </div>

    <footer class="row gtr">
      <p class="more-of txt-ctr gtr">You'll find more of my thoughts about web development <span class="no-break">in my <a href="{{site.baseurl}}/blog/" title="webdevjeff's blog">blog archive</a>.</span></p>
    </footer>

  </section>

  <section class="row gtr">
    <article class="ph-col-12 gtr">
      <h2 class="txt-ctr">Here are some things <a href="{{site.baseurl}}/about/" title="About webdevjeff"><span class="no-break">you should know</span> <span class="no-break">about me</span></a>&hellip;</h2>
      <p>Welcome to the portfolio and blog of Jeff George, an independent full-stack web developer working out of New York City, NY.</p>
      <p>This site is a work in progress. It is being developed using the Jekyll static site generator, along with my own <strong>drop-in.css</strong> stylesheet and <strong>griddy</strong> responsive grid system. When complete, it will replace my existing, vanilla HTML/CSS website at <a href="www.webdevjeff.us">webdevjeff.us</a>.</p>
    </article>
  </section>

</main>