.quote-box {
  margin: 1.2rem auto 0.6rem;
  width: 600px;
  max-width: 80%;
  background-color: white;
  border: 2px solid #444;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hidden { display: none; }

p.open-quote {
  color: rgb(173, 43, 48);    /* Lo Red */
  font-size: 8rem;
  position: relative;
  top: -1.2rem;
  text-align: right;
  margin-bottom: -6rem;
  padding-right: 0.35rem;
}

p.quote {
  font-size: 1.5rem;
  font-style: bold;
  margin-right: 1.8rem;
  padding-top: 0.8rem;
}

p.author {
  margin: 0 1.8rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
}


.btn {
  box-shadow: 0.25rem 0.25rem 0.25rem rgb( 64, 64, 64);
  position: relative;
  cursor: pointer;
}

.btn:active {
  top: 3px;
  left: 3px;
  box-shadow: 0.075rem 0.075rem 0.075rem rgb( 64, 64, 64);
}

.quote-btns {
  margin: 0 auto;
  width: 6rem;
}

.tweet-btn {
  background-color: rgb(27,140,240);
  color: white;
  border: none;
  border-radius: 0.33rem;
  outline: none;
  width: 6rem;
  height: 2.5rem;
}
.tweet-btn:hover {
  background-color: rgb(22,120,216);
}
