.weather-box {
  color: rgb(240,240,240);
  width: 40%;
  margin: 1.2rem auto;
  border-radius: 0.9rem;
}

.weather-header {
  background-color: rgb(144,180,255);
  border-radius: 0.9rem 0.9rem 0 0;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.15rem;
}

.user-town,
.sunrise {
  float: left;
}

.timeSpan,
.sunset {
  float: right;
}

.weather-body {
  background-color: rgb(144,180,255);
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0.6rem;
}

.weather-detail,
.weather-sun-moon {
  background-color: rgb(144,180,255);
  padding: 0 0.6rem 0.6rem;
}

.weather-sun-moon {
  border-radius: 0 0 0.9rem 0.9rem;
  font-size: 0.75rem;
}

.weather-detail span,
.sunrise,
.sunset {
  display: block;
}

.cond-span {
  padding-bottom: 0.3rem;
}

.sunrise.wi,
.sunset.wi {
  padding-right: 0.25rem;
}

.moon-phase {
  width: 2rem;
  margin-left: auto;
  margin-right: auto;
}
