@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600,600italic');

div.search-window {
  height: auto;
  position: relative;
}

.search-window form {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 10%;
}

@media only screen and (min-width: 680px) {
  .search-window form { top: 60%; }
}

.search-window h2 {
  font-family: 'Crimson Text', serif ;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 3px rgb(0,0,0);
}

.small-caps {
  font-size: 0.75em;
}

.search-window input {
  width:75%;
  display: inline;
  margin: 0.6em 0;
  float: left;
  height: 2.5rem;
  padding-left: 0.75rem;
  border: 2px solid rgb( 32, 32, 32);
  border-radius: 1.25rem 0 0 1.25rem;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  outline: none;
}

.search-window button {
  width: 10%;
  height: 2.5rem;
  margin: 0.6em 0;
  padding: 0;
  display: inline;
  float: left;
  background-color: rgb(160,160,160);
  border: 2px solid rgb( 32,32,32);
  box-shadow: 3px 3px 5px rgba( 0,0,0, 0.5);
  cursor: pointer;
  outline: none;
  position: relative;
}

.search-window button:last-child {
  border-radius: 0 1.25rem 1.25rem 0;
}

.search-window button:hover {
  color: rgb( 96, 96, 96);
  background-color: rgb(196,196,196);
}

.search-window button:active {
  top: 1px;
  left: 1px;
  box-shadow: 2px 2px 5px rgba( 0,0,0, 0.5);
}

.wiki-heading {
  font-family: 'Crimson Text', serif ;
  font-weight: 600;
}

div.search-result {
  background-color: white;
  border: 1px solid rgb(64, 64, 64);
  height: 15rem;
}

.search-result h4 {
  font-family: 'Crimson Text', serif ;
}

.searchmatch {
  font-weight: bold;
}

