---
layout: default
section: work
---

<main class="gtr">

  <header class="row gtr">
    <h1>Web Dev Work</h1>
  </header>

  {% for project in site.work %}
      {% if project.thumb %}
        <div class="row">
          <div class="gtr ph-col-12 tab-col-3">
            <a href="{{site.baseurl}}{{project.url}}" title="{{project.alt}}">
              <img class="img-border img-link" src="{{site.baseurl}}{{project.thumb}}" alt="{{project.alt}}" title="{{project.alt}}">
            </a>
          </div>
          <div class="gtr-l ph-col-12 tab-col-9">
            <h2><a href="{{site.baseurl}}{{project.url}}" title="{{project.alt}}">{{ project.title }}</a></h2>
            <p class="ftrm-qtr">{{ project.subtitle }}</p>
            <p class="hdrm-none"><em>{{ project.created }}</em></p>
          </div>
        </div>
      {% else %}
        <div class="row gtr">
          <h2><a href="{{site.url}}{{project.url}}">{{ project.title }}</a></h2>
          <p>{{ project.subtitle }}</p>
        </div>
      {% endif %}
  {% endfor %}

</main>