<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Jeff George | Web Developer</title>
  <meta name="description" content="Portfolio, blog, and contact information for Jeff George, a full-stack web developer based in New York, NY.">
  <meta name="author" content="Jeff George">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/favicon.ico" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/drop-in.css">
</head>

<body>
  <header>
    <h1><a href="{{site.baseurl}}/">webdevjeff</a></h1>
    {% include nav-main.html %}
  </header>

  <main>

      {{content}}

  </main>

  <footer>
    {% include nav-main.html %}
    <p>Copyright &copy; 2016 by Jeff George</p>
  </footer>
</body>
</html>