<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% if page.title %}
      {{ page.title }} | webdevjeff
    {% else %}
      Jeff George | Web Developer
    {% endif %}
  </title>
  <meta name="description" content="Portfolio, blog, and contact information for Jeff George, a full-stack web developer based in New York, NY.">
  <meta name="author" content="Jeff George">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/favicon.ico" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/drop-in-wb.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/griddy.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  {% if page.css %}
    <link rel="stylesheet" href="{{site.baseurl}}{{page.css}}">
  {% endif %}


  <!-- HTML5SHIV script borrowed from HTML5Boilerplate -->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>

<body class="container">
  <!-- OUTDATED BROWSER WARNING borrowed from HTML5Boilerplate -->
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header>
    <div>
      <h1><a href="{{site.baseurl}}/">webdevjeff.us</a></h1>
      <p>Web Developer Jeff George</p>
    </div>
    {% include nav-main.html %}
  </header>

  {{content | smartify }}

  <footer>
    {% include nav-main.html %}
    <div class="row gtr">
      <a class="gtr" href="mailto:webdevjeffus@gmail.com" title="Email Jeff George at webdevjeffus@gmail.com">
        <i class="fa fa-envelope-square fa-3x"></i>
      </a>
      <a class="gtr" href="https://twitter.com/webdevjeffus" target="_blank" title="Follow Jeff George on Twitter">
        <i class="fa fa-twitter-square fa-3x"></i>
      </a>
      <a class="gtr" href="https://www.linkedin.com/in/webdevjeffus" target="_blank" title="Jeff George at LinkedIn">
        <i class="fa fa-linkedin-square fa-3x"></i>
      </a>
      <a class="gtr" href="https://github.com/webdevjeffus" target="_blank" title="Jeff George on GitHub">
        <i class="fa fa-github-square fa-3x"></i>
      </a>
    </div>
    <p class="ftrm-none">Copyright &copy; 2016 by Jeff George</p>
  </footer>

  {% if page.js %}
    <script type="text/javascript" src="{{site.baseurl}}{{page.js}}"></script>
  {% endif %}

</body>
</html>